.main-page {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    #filter-button {
        appearance: none;
        background-color: #2ea44f;
        border: 1px solid rgba(27, 31, 35, 0.15);
        border-radius: 6px;
        box-shadow: rgb(27 31 35 / 10%) 0 1px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
            "Segoe UI Emoji";
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        padding: 6px 16px;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        white-space: nowrap;
    }

    #add-entity-btns {
        button {
            display: inline-block;
            padding: 0.3em 1.2em;
            margin: 0 0.3em 0.3em 0;
            border-radius: 2em;
            box-sizing: border-box;
            text-decoration: none;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            color: #ffffff;
            background-color: #4eb5f1;
            text-align: center;
            transition: all 0.2s;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: #4095c6;
            }
        }
    }

    .modal-background {
        width: 100vw;
        height: 100vh;
        position: absolute;
        transition: background-color 0.3s;
        cursor: pointer;
    }

    .modal-background.open {
        background-color: rgb(138 138 138 / 60%);
    }
    .modal-background.closed {
        background-color: transparent;
        pointer-events: none;
    }
}
