.employee-group {
    border: 1px solid black;
    top: 0;
    background-color: white;

    .employee-preview{
        cursor: pointer;
        font-size: large;

        &:hover{
            background-color: lightblue;
        }
    }
}
