.filter-modal {
    height: 100%;
    width: 200px;
    position: fixed;
    display: flex;
    background: white;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s;

    &.open {
        transform: translateX(0);
    }

    .filter-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
