.project-group {
    border: 1px solid black;
    min-width: 200px;
    margin-inline-end: 50px;
    position: relative;

    .project-employee-list {
        display: flex;
        flex-direction: column;
        padding: 0;

        .project-employee-preview {
            margin-bottom: 5px;
            display: flex;
            justify-content: center;
        }
    }
}
